<%= form_with model: @card do |form| %>
  <div>
    <%= form.label :title, :class => 'label' %><br>
    <%= form.text_field :title%>
    <% @card.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :description, :class => 'label' %><br>
    <%= form.text_area :description %>
    <% @card.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.submit "Submit", :class => 'btn' %>
  </div>
  <% end %>
