<section class="container py-5">
  <div class="card card-full-details">
    <div class="card-body">
      <h1 class="card-title"><%= @card.title %></h1>
      <p class="card-text"><%= @card.description %><p>
    </div>
  </div>
  <%= link_to "Edit this Card", edit_card_path, class: "btn me-2" %>
  <%= link_to "Delete this Card", card_path(@card), class: "btn", method: :delete, data: { confirm: "Are you sure?" } %>

  <% if @card.comments.present? %>
    <%= render "comments", card: @card %>
  <% end %>

  <section class="mt-5">
  <h2>Add Your Own Comment</h2>
  <%= form_with model: [ @card, @card.comments.build ] do |form| %>
    <p>
      <%= form.label :body, "Comment", :class => 'form-label' %><br>
      <%= form.text_area :body, :class => 'form-input' %>
    </p>
      <p>
      <%= form.label :commenter, "Your Name", :class => 'form-label' %><br>
      <%= form.text_field :commenter, :class => 'form-input' %>
    </p>
    <p>
      <%= form.submit "Add Comment", :class => 'btn' %>
    </p>
  <% end %>
  </section>
</div>
