<!DOCTYPE html>
<html>
  <head>
    <title>Happy Wins</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('happy-wins.png') %>
  </head>
  

  <body class="d-flex flex-column">
  <nav>
    <%= link_to "Happy Wins", root_path, class: "nav-home" %>
    <%= link_to "Add Note", new_card_path, class: "btn" %>
  </nav>
    <%= yield %>
  </body>
</html>
